In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine('sqlite:///../data/disaster.db')
df = pd.read_sql_table('disaster', engine)

In [6]:

df.genre.value_counts().reset_index()

    index  genre
0    news  13054
1  direct  10766
2  social   2395